.text,
p {
    color: #2B587A
}
#content {
    width: 30%;
    background-color: #FFF;
    border: 1px solid #B2BDCB;
    box-shadow: 0 0 10px #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 3px
}
p {
    padding-left: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B2BDCB
}
.text {
    border-radius: 3px;
    width: 180px;
    border: 1px solid #B2BDCB;
    padding: 3px
}
.btn {
    background-color: #fff;
}
input[type=checkbox] {
    float: right;
    margin-right: 7px
}
body,
html {
    width: 100%;
    height: 100%
}
#inputs {
    width: 175px;
    margin-left: 20px
}
.sub-item {
    width: 160px;
    margin-top: 5px
}
#message,
.shadow {
    width: 100%;
    height: 100%
}
.glyphicon {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 3px
}
.task {
    padding: 5px;
    border-bottom: 1px solid #B2BDCB;
    margin-top: 10px
}
.window {
    position: absolute;
    right: 45%;
    top: 80px;
    border: 1px solid #B2BDCB;
    padding: 25px;
    border-radius: 3px;
    background-color: #fff
}
.all {
    margin: 8px
}
#message {
    position: fixed
}
.shadow {
    background-color: #000;
    opacity: .7
}
#sub-task{
    float: none;
}
.sub-task{
    margin-left: 20px;
    margin-top: 7px;
}